@page "/clima"
@using FullApp.Shared
@inject HttpClient Http

<PageTitle>El clima</PageTitle>

<h1>Pronóstico de clima (dummy data en memoria)</h1>

<p>Aquí se muestra cómo obtener datos en memoria del servidor.</p>

@if (forecasts == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Resumen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
}
